<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="app">
        <label for="">用户名</label>
        <input type="text" v-model="username">
        <br>
        <label for="">邮箱</label>
        <input type="email" v-model="email">
        <br>
        <label for="">介绍</label>
        <textarea cols="30" rows="10" v-model="intro"></textarea>
    </div>
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                // username:'aaa',
                email : '',
                intro : ''
            }
        });
    </script>
</body>
</html>
